.photo-grid {
	display: grid;
	grid-template-columns: repeat( 4, 1fr);
	max-width: calc(100% - 96px);
	grid-gap: 16px;
	margin: 0 auto 92px auto;
}

@media screen and (max-width: 1026px) {
	.photo-grid {
	  grid-template-columns: repeat( 3, 1fr);
	}
}

@media screen and (max-width: 770px) {
	.photo-grid {
	  max-width: calc(100% - 48px);
	  grid-template-columns: repeat( 2, 1fr);
	}
}

@media screen and (max-width: 426px) {
	.photo-grid {
	  max-width: calc(100% - 32px);
	  grid-template-columns: 1fr;
	  grid-gap: 12px;
	  margin: 0 auto 64px auto;
	}
}