.places {
	margin: 0 auto 92px;
	max-width: 984px;
}

@media screen and (max-width: 1026px) {
	.places {
	  max-width: calc(100% - 96px);
	}
}

@media screen and (max-width: 770px) {
	.places {
	  max-width: calc(100% - 48px);
	}
}

@media screen and (max-width: 426px) {
	.places {
		margin: 0 auto 66px;
		max-width: 100%;
	}
}