.lead {
	max-width: 984px;
	margin: 0 auto 92px auto;
}

@media screen and (min-width: 770px) and (max-width: 1026px) {
	.lead {
	  max-width: 928px;
	}
}

@media screen and (min-width: 426px) and (max-width: 770px) {
	.lead {
	  max-width: 100%;
	  margin: 0 auto 88px auto;
	}
}

@media screen and (max-width: 426px) {
	.lead {
	  margin: 0 auto 64px auto;
	}
}