.header {
	display: flex;
	justify-content: space-between;
	margin: 28px auto 56px auto;
	max-width: calc(100% - 96px);
}
  
  @media screen and (min-width: 770px) and (max-width: 1026px) {
	.header {
	  margin: 28px auto 48px auto;
	}
}
  @media screen and (min-width: 426px) and (max-width: 770px) {
	.header {
	  max-width: calc(100% - 48px);
	}
}
  
  @media screen and (max-width: 426px) {
	.header {
	  margin: 16px auto 48px auto;
	  max-width: calc(100% - 32px);
	}
}