.header__lang-list {
	display: flex;
	align-items: flex-start;
	list-style-type: none;
	margin: 18px 0 0 0;
	padding: 0;
}

@media screen and (max-width: 426px) {
	.header__lang-list {
	  margin: 14px 0 0 0;
	}
}