.place {
	margin: 0 0 80px 0;
	display: grid;
	grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
	grid-gap: 40px 40px;
}

@media screen and (min-width: 770px) and (max-width: 1026px) {
	.place {
	  gap: 48px 32px;
	  grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
	  grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 426px) and (max-width: 770px) {
	.place {
	  gap: 48px 28px;
	  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	  margin: 0 0 72px 0;
	}
}

@media screen and (max-width: 426px) {
	.place {
	  gap: 32px 0;
	  grid-template-columns: 1fr;
	  margin: 0 0 50px 0;
	}
}