.intro__title {
	max-width: 690px;
	margin: 0 0 40px 0;
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
}

@media screen and (max-width: 426px) {
	.intro__title {
	  font-size: 10vw;
	  line-height: 10.938vw;
	  max-width: 80%;
	}
}